"""Provides a mapping from the ELRO 433 Mhz RF remote codes to the actual buttons and vice-versa."""

# RX - from received RF code to system code and unit state
RX = {

    {% for system_code, rf_codes in RX.items() %}
    # System code {{ system_code }}
    {% for rf_code, mapping in rf_codes.items() %}
    {{ rf_code }}: { "RF_SYSTEM_CODE": "{{ mapping['RF_SYSTEM_CODE'] }}", "RF_UNIT": "{{ mapping['RF_UNIT'] }}", "RF_STATE": "{{ mapping['RF_STATE'] }}" },
    {% endfor %}

    {% endfor %}
}

# TX - from specified system code and unit state to RF code
TX = {

    {% for system_code, rf_codes in TX.items() %}
    # System code {{ system_code }}
    "{{ system_code }}": {
        {% for unit, mapping in rf_codes.items() %}
        "{{ unit }}": { "ON": {{ mapping['ON'] }}, "OFF": {{ mapping['OFF'] }} },
        {% endfor %}
    },

    {% endfor %}
}

